<div class="container" xmlns="http://www.w3.org/1999/html">
  <h3 class="text-center mt-5 mb-5">Contact Management System</h3>
  <hr/>
    <div style="text-align: center">
      Search by Name : <input type="text" placeholder="Search by Name" [(ngModel)]="nameSearchValue"/>&nbsp;&nbsp;
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="retrieveContacts()">
        Search
      </button>

      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="clearSearchFilterAndLoadAll()">
        Clear search filter
      </button>

      <br/>
      <br/>
      Total entries per page : <select (change)="retrieveContacts()" [(ngModel)]="pageSize">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="30">30</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>
  <hr/>
  <table class="table" style="text-align: center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Profile picture</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="
          let contact of contacts
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
    >
      <th scope="row">{{ contact.id }}</th>
      <td>{{ contact.name }}</td>
      <td><img [src]="sanitize(contact.profilePictureURI)"/></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls>
  </div>
</div>
