<div class="container">
  <h3 class="text-center mt-5 mb-5">Contact Management System</h3>
  <hr/>
<!--  <center>-->
    Search Name : <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="nameSearchValue"/>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="retrieveContacts()">
        Search
      </button>
<!--  </center>-->
  <hr/>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="
          let contact of contacts
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
    >
      <th scope="row">{{ contact.id }}</th>
      <td>{{ contact.name }}</td>
      <td><img [src]="sanitize(contact.profilePictureURI)"/></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls>
  </div>
</div>
